* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255,165,206);
    background: linear-gradient(90deg, rgba(255,165,206,1) 0%, rgba(148,230,255,1) 100%);
}

a, p, h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
padding: 10px 20px 10px 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    /* border-left: 1px solid #333;
    border-right: 1px solid #333; */
}

header {
    background-color: #333;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

header nav a:hover {
    color: cyan;
}

section {
    padding: 20px;
}

main {
    float: left;
    width: 70%;
}

main p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding: 0 20px 20px 20px;
    border-bottom: 3px solid #3d3d3d;
}

main p:last-of-type {
    border-bottom: 0px;
}

main h2 {
    padding-top: 50px;
    text-transform: uppercase;
    text-align: center;
}

main h2:nth-of-type(1) {
    padding-top: 0px;
}

aside {
    float: right;
    width: 25%;
}

aside p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding: 20px;
    border-bottom: 1px solid #000;
}

aside ul {
    padding: 0 20px 0 20px;
}

aside ul li {
    font-size: 1.1rem;
    line-height: 1.6rem;
    list-style: none;
    padding: 3px 0 3px 0;
}

iframe {
    border: none;
    padding: 30px 0;
}

.giphy {
    padding: 30px 0;
}

.tree {
    width: 500px;
}

.cont {
    display: flex;
    margin: 0;
    padding: 0;
}

.cont img {
    width: 300px;
    height: 250px;
    padding: 5px;
}

.compInfo,
.compInfoTwo {
    border: none;
    margin-bottom: 20px;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    width: 100%;
}

footer p {
    color: white;
    padding: 10px;
}

footer a {
    color: white; 
    padding: 0 10px 0 10px;
}

footer a:hover {
    color: cyan;
}

.copy {
    padding: 0 10px 25px 10px;
}

@media (max-width: 700px) {
main {
    float: none;
    width: 100%;
}

aside {
    float: none;
    width: 100%;
    padding: 20px;
}

}
